<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
<h1 class="text-center whbgtxt">DavaiBuy</h1>
<%= simple_form_for(@request, html: {class: "margintop marginleft"}) do |f| %>


    <div class="container">


      <div class="row">
        <div class="col-md-6">
          <%= f.error_notification %>

          <%= f.input :content, label: false, placeholder: "Я хочу...", input_html: {class: "form-control"}%>
        </div>
        <div class="col-md-5">
          <select class="form-control">
            <option>Выберите категорию</option>
            <option value="Авто">Авто</option>
            <option value="Туризм">Туризм</option>
            <option value="Мебель">Мебель</option>
          </select>
        </div>
        <!-- Запрещает блокам, которые расположены после него, обтекать его. -->
        <div class="clearfix"></div>
        <div class="col-md-11">
          <%= f.button :submit, value: "Давай!", class: "btn-lg btn-info btn-block" %>
        </div>
        <div class="clearfix"></div>
        <h1 class="whmdtxt marginleft marginbottom">Выберите удобный способ связи:</h1>
        <div class="checkbox whtxt bigbox bigmarginleft">
          <label><input type="checkbox" value="">Email</label>
        </div>
        <div class="checkbox whtxt bigbox bigmarginleft">
          <label><input type="checkbox" value="">Телефон</label>
        </div>
        <div class="checkbox whtxt bigbox bigmarginleft">
          <label><input type="checkbox" value="">Viber</label>
        </div>
        <div class="checkbox whtxt bigbox bigmarginleft">
          <label><input type="checkbox" value="">Голубиная почта</label>
        </div>
        <div class="checkbox whtxt bigbox bigmarginleft">
          <label><input type="checkbox" value="">Послать ворона вашему мейстеру</label>
        </div>
        <div class="checkbox whtxt bigbox bigmarginleft">
          <label><input type="checkbox" value="">Стаканчики, соединённые ниточкой</label>
        </div>
        <div class="checkbox whtxt bigbox bigmarginleft">
          <label><input type="checkbox" value="">Мамашка Куна</label>
        </div>
      </div>
    </div>

<% end %>

</body>
</html>