<footer class="footer">
  <div class="row">
    <h1>Наши Партнёры</h1>
    <div class="servicesHolder">
      <div class="row">
        <hr class="full">
        <div class="container mvngsmi">
          <div class="box4">
            <div class="box2 boxup">
              <a href="">
                <div class="drctsmi drctdown changecorn">
                  <img class="drctnimgsmi" src="" width="100%"/>
                </div>
              </a>
              <a href="">
                <div class="drctsmi drctdown changecorn">
                  <img class="drctnimgsmi" src="" width="100%"/>
                </div>
              </a>
              <a href="">
                <div class="drctsmi drctdown changecorn">
                  <img class="drctnimgsmi" src="" width="100%"/>
                </div>
              </a>
            </div>
            <div class="box2">
              <a href="">
                <div class="drctsmi drctdown">
                  <img class="drctnimgsmi" src="" width="100%"/>
                </div>
              </a>
              <a href="">
                <div class="drctsmi drctdown">
                  <img class="drctnimgsmi" src="" width="100%"/>
                </div>
              </a>
              <a href="">
                <div class="drctsmi drctdown">
                  <img class="drctnimgsmi" src="" width="100%"/>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>