/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-image: url(bgr.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 11000px;
}

html { overflow-x: hidden; }
body { overflow-x: hidden; }
a{color:black; text-decoration: none;}

hr {
    padding-top: 0;
    padding-left: 20px;
    margin-top: -6px;
    margin-bottom: 0;
    border: none;
    background-color: black;
    height: 1px;
}

hr.half {
    padding-left: 20px;
    margin: 0;
    border: none;
    background-color: black;
    height: 0;
}

.drctsmi {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    min-height: 17vh;
    background-color: #bbd1d0;
}

.drctdown {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 45px;
}

.drctdown:hover {
    min-height: 135px;
    background-color: #86696b;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.59);
    margin-bottom: -40px;
}

.drctsmi:hover {
    min-height: 17vh;
    background-color: #9eb1b0;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.59);
    margin-bottom: 45px;
}

.mvngdown {
    margin-left: 13.8%;
}

.mvngup {
    margin-left: 1.9%;
}

.mvngsmi {
    margin-left: 6.5%;
}

.justpu {
    padding-top: 220px;
}

.text-center{text-align:center !important}

.row{margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:0;max-width:62.5em;*zoom:1;}

.container {overflow:hidden;width:100%; padding-top: 0; display: inline-block}
.box {white-space: nowrap}
.box div {width:23.8%;display:inline-block;}
.box2 div {display:inline-block;}
.box3 div {margin-right: 3%;width:20%;display:inline-block;}
.box4 .box2 {width:88%;display:inline-block;}
.box4 .box2 div {width: 32.5%; display: inline-block}
.servicesHolder {margin-bottom: 3vw;}

@media (max-width: 700px) and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
    hr { margin-top: 0 }
    .changecorn {

    }

}
}

@media (max-width: 700px) {
    .inlineNav li, nav ul li, nav:before, nav li a{
        text-align: center;
        display: flex;
    }
    .small {
        font-size: 9px;
    }

    .box3 div {
        margin-right: 3%;width:44%;display:inline-block;
    }

    .box2 div {
        width:28%;display:inline-block;
    }

    .bgn {
        background-color: rgba(255, 255, 255, 0.3);
        margin: 0;
        height: 230px;
    }

    .bgn1 {
        margin-top: 200px;
        margin-bottom: 30px;
    }

    .bgn2 {
        margin-bottom: 180px;
    }

    .box4 .box2 {width:85%;display:inline-block;padding-left: 20px;padding-right: 20px;}
    .box4 .box2 div {width: 32.5%; display: inline-block}

    .mvngsmi {
        margin-left: 4%;
    }

    .boxup {
        max-width: 85%;
        border-bottom: solid black; border-width: 1px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .changecorn {
        border-radius: 10px 10px 0 0;
        margin-bottom: -4px;
    }

    .changecorn:hover {
        margin-bottom: 0;
    }

    hr.full {
        height: 0;
    }

    .redline {
        margin-left: 2%;
        margin-right: 2%;
    }

    .nm {
        font-size: 5vw;
    }
}

@media (max-width: 500px) {
    .small {
        font-size: 7px;
    }
}


@font-face {
    font-family: 'BauhausCLight';
    src: url('fonts/BauhausC-Light.otf');
}

body {
    font-family: 'BauhausCLight', sans-serif !important;
    padding: 0;
    margin: 0
}


.margintop {
    margin-top: 10%;
}

.smallmargintop {
    margin-top: 4%;
}

.marginbottom {
    margin-bottom: 3%;
}

.bigmarginbottom {
    margin-bottom: 6%;
}

.marginleft {
    margin-left: 6%;
}

.bigmarginleft {
    margin-left: 27%;
}

.marginright {
    margin-right: 1%;
}

.reqmargin {
    margin-right: 4.1%;
    margin-left: 4.1%;
}

.whbgtxt {
    font-size: 600%;
    color: #fffcf8;
}

.whmdtxt {
    font-size: 200%;
    color: #fffcf8;
}

.whtxt {
    color: #fffcf8;
}

.bigbox {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}


